.description_slider1 {
  background-color: #ffffff;
}
.description_slider2 {
  background-color: #ffffff;
}
.red_item {
  background-color: #c00d0d;
}
.grey_item {
  background-color: #3c3c3b;
}

.presentation__slider {
  width: 80%;
  max-width: 115.2rem;
  height: 35.448rem;
  margin: 10rem auto;
  margin-bottom: 3rem;
  display: flex;
  overflow: hidden;
}

.presentation__slider ul {
  display: flex;
  width: 300%;
  height: 100%;
  padding: 0;
  animation: slide 12s infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
.presentation__slider li {
  width: 80vw;
}
.slider_item {
  width: 100%;
  display: flex;
  height: 100%;
  min-width: 100%;
}
.presentation__slider__content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 35%;
}
.presentation__slider__content__item {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 90%;
  height: 90%;
}
.presentation__slider__img {
  width: 65%;
  margin-left: 2rem;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.presentation__slider__img__item {
  width: 90%;
  height: 90%;

  /* position: relative; */
}
.description_slider1,
.description_slider2,
.description_slider3-1,
.description_slider3-2 {
  width: 70%;
}

.index {
  width: 7vw;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 3rem;
}
.presentation__slider__img > .red_box_slider {
  background-color: #c00d0d;
  /* margin-left: auto; */
  position: absolute;
  width: 20%;
  height: 40%;
  left: 72.9%;
  top: 60%;
  z-index: -1;
}

.presentation__slider__img > .grey_box_slider {
  background-color: #3c3c3b;
  position: absolute;
  width: 20%;
  height: 40%;
  left: 72.9%;
  bottom: 60%;
  z-index: -1;
}

.index div {
  cursor: pointer;
}

.presentation__text {
  width: 60.2%;
  margin: 4rem auto;
}

.presentation__text__paragraph {
  color: black;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 87rem;
}

@keyframes slide {
  0% {
    margin-left: 0;
  }
  35% {
    margin-left: 0;
  }

  40% {
    margin-left: -100%;
  }
  70% {
    margin-left: -100%;
  }

  75% {
    margin-left: -200%;
  }
  100% {
    margin-left: -200%;
  }
}
@media only screen and (max-width: 1160px) {
  .presentation__slider {
    height: 27.36rem;
  }
}
@media only screen and (max-width: 768px) {
  .presentation__slider {
    height: 24rem;
  }
}
@media only screen and (max-width: 660px) {
  .presentation__slider {
    height: 90vh;
  }
  .presentation__slider__img__item {
    margin-right: auto;
    margin-left: auto;
  }
  .presentation__slider ul,
  .presentation__slider li {
    height: 100%;
  }
  .slider_item {
    display: flex;
    flex-direction: column;
  }
  .presentation__slider__content {
    width: 52%;
    height: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2.5rem;
  }
  .slider_item {
    width: 100%;
  }
  .presentation__slider__img {
    width: 90%;
    height: 50%;
    margin: 1rem auto;
    margin-bottom: 3rem;
  }
  .presentation__slider__img {
    width: 100%;
  }
  .presentation__slider__img > .red_box_slider {
    left: 82.05%;
    right: 0;
    top: 67.5%;
    bottom: 0;
    z-index: -2;
    width: 15%;
    height: 32%;
  }
  .presentation__slider__img > .grey_box_slider {
    background-color: #3c3c3b;
    position: absolute;
    width: 15%;
    height: 32%;
    left: 2.8%;
    bottom: 0%;
    top: 0%;
    right: 0;
    z-index: -1;
  }
}

@media only screen and (max-width: 425px) {
  .presentation__slider {
    margin: 2.5rem auto;
    height: 48rem;
  }
  .presentation__slider__content {
    width: 85%;
    height: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2.5rem;
  }
  .presentation__slider__img {
    width: 98%;
    height: 70%;
    /* position: relative; */
  }
}
@media only screen and (max-width: 425px) {
  .presentation__slider {
    margin: 2.5rem auto;
    height:45rem;
  }
}
@media only screen and (max-width: 425px) {
  .presentation__slider {
    margin: 2.5rem auto;
    height:43rem;
  }
}