.products {}

/* BOX  */

.products__box {
    display: flex;
    justify-content: center;
    margin: 5rem 0;
    flex-wrap: wrap;
    margin-bottom: 8rem;
}

.products__box__item {
    margin: .5rem 2%;
}

/* END BOX */

/* CATEGORIES */

.products__categories {
    display: flex;
    justify-content: center;
    margin: 4rem 0;
    flex-wrap: wrap;
}

.products__categories__item {
    font-size: 1.5rem;
    display: inline-block;
    color: black;
    padding: 1.2rem 1rem;
    text-transform: uppercase;
    font-family: "Open sans semibold";
}

.products__categories__item:hover {
    color: #C00D0D;
}

/* END CATEGORIES */

/* CATALOG */

.products__catalog {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 180rem;
    margin-right: auto;
    margin-left: auto;
}

.products__catalog__item {
    width: 28%;
    min-width: 24rem;
    margin: 1.5rem 1%;
    position: relative;
    cursor: pointer;
    max-width: 50rem;
}

.products__catalog__item__img {
    width: 100%;
}

.products__catalog__item__description {
    position: absolute;
    left: 0;
    text-align: center;
    bottom: 0;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    justify-content: center;
}
.products__catalog__item:hover > .products__catalog__item__description{
    opacity: 1;
    transition: .7s;
}


.red__box {
    /* adhesivo */
    background-color: rgba(192, 13, 13, 0.7);
}

.grey__box__medium {
    background-color: rgba(60, 60, 59, 0.7);
}

.grey__box {
    background-color: rgba(60, 60, 59, 1);
}

.products__catalog__item__description__title {
    font-size: 2.4rem;
    text-transform: capitalize;
    font-family: 'Open sans bold';
    margin-top: 1.4rem;
}

.products__catalog__item__description__subtitle {
    width: 100%;
    display: flex;
    font-size: 1.2rem;
    font-family: "Open sans semibold";
    justify-content: center;
    margin-top: .5rem;
}
.products__catalog__item__description__subtitle p{
    margin: 0 4%;
    text-transform: uppercase;

}

.products__catalog__item__description__subtitle hr{
    /* margin: 0; */
    margin-right: 0;
    margin-left: 0;
    width: 25%;
}
.products__catalog__item__description__subtitle hr:first-of-type {
    float: left;

}

.products__catalog__item__description__subtitle hr:last-of-type {
    float: right;
}

.products__catalog__item__description__content {
    display: inline-block;
    font-family: 'Open sans lightitalic';
    font-size: 1.2rem;
    margin: .3rem 2%;
    margin-bottom: 2rem;
}

.products__catalog__item__description__content span {
    font-family: 'Open sans semibold italic';
}

/* END CATALOG */
@media only screen and (max-width:1240px) {
    .products__catalog__item__description__title {
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: .5rem;
    }
}

@media only screen and (max-width:1104px) {
    .products__catalog__item__description__title {
        font-size: 1.6rem;
        margin-top: 1rem;
        margin-bottom: .2rem;
    }
    .products__catalog__item__description__content{
        font-size:1rem ;
    }
}