@font-face {
    font-family: "Open sans bold";
    src: url("../fuentes/OpenSans-Bold.ttf")format('truetype');
}

@font-face {
    font-family: "Open sans extrabold";
    src: url("../fuentes/OpenSans-ExtraBold.ttf")format('truetype');
}

@font-face {
    font-family: "Open sans extrabold italic";
    src: url("../fuentes/OpenSans-ExtraBoldItalic.ttf")format('truetype');
}

@font-face {
    font-family: "Open sans lightitalic";
    src: url("../fuentes/OpenSans-LightItalic.ttf")format('truetype');
}

@font-face {
    font-family: "Open sans";
    src: url("../fuentes/OpenSans-Regular.ttf")format('truetype');
}

@font-face {
    font-family: "Open sans semibold";
    src: url("../fuentes/OpenSans-Semibold.ttf")format('truetype');
}

@font-face {
    font-family: "Open sans semibold italic";
    src: url("../fuentes/OpenSans-SemiboldItalic.ttf")format('truetype');
}

html {
    font-size: 62.5%;
    font-family: "Open sans";
    font-weight: lighter;
}


.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.icon_arrow_down {
    background-color: white;
    -webkit-mask: url("../../avatar/icons/arrow_down.svg") no-repeat center;
    mask: url("../../avatar/icons/arrow_down.svg") no-repeat center;
    height: 3rem;
    width: 3rem;
}
/* ICONOS HOGAR-PROFESIONALES*/
.ball{
    background-color: transparent;
    -webkit-mask:url('../../avatar/icons/bola-llena.svg') no-repeat center;
    mask: url('../../avatar/icons/bola-llena.svg') no-repeat center;
    height: 2rem;
    width: 2rem;
    margin-top: -.3rem;
}
.ball__null{
    background-color: transparent;
    -webkit-mask:url('../../avatar/icons/bola-vacia.svg') no-repeat center;
    mask: url('../../avatar/icons/bola-vacia.svg') no-repeat center;
    padding: 0;
    height: 2rem;
    width: 2rem;
}
.description_slider1{
    background-color: transparent;
    -webkit-mask:url('../../avatar/icons/hogar-profesionales/iconSlider1.svg') no-repeat center;
    mask: url('../../avatar/icons/hogar-profesionales/iconSlider1.svg') no-repeat center;
    height: 100%;
    width: 90%;
}
.description_slider2{
    background-color: transparent;
    -webkit-mask:url('../../avatar/icons/hogar-profesionales/iconSlider2.svg') no-repeat center;
    mask: url('../../avatar/icons/hogar-profesionales/iconSlider2.svg') no-repeat center;
    height: 100%;
    width: 90%;
}
.description_slider3-1{
    background-color: transparent;
    -webkit-mask:url('../../avatar/icons/hogar-profesionales/iconSlider3-1.svg') no-repeat center;
    mask: url('../../avatar/icons/hogar-profesionales/iconSlider3-1.svg') no-repeat center;
    height: 100%;
    width: 90%;
}
.description_slider3-2{
    background-color: transparent;
    -webkit-mask:url('../../avatar/icons/hogar-profesionales/iconSlider3-2.svg') no-repeat center;
    mask: url('../../avatar/icons/hogar-profesionales/iconSlider3-2.svg') no-repeat center;
    height: 100%;
    width: 90%;
}


.row_reverse {
    flex-direction: row-reverse;
}

/* .red_box {
    background-color: #C00D0D;
    width: 40%;
    height: 40%;
    position: absolute;
    left: 7%;
    bottom: 65%;
}

.grey_box {
    width: 40%;
    height: 40%;
    background-color: #3C3C3B;
    position: absolute;
    right: 7%;
    top: 65%;
} */

.column_reverse {
    flex-direction: column-reverse;
}

.font_bold {
    font-family: 'Open sans semibold';
}

.font_italic {
    font-family: 'Open sans lightitalic';
}

.font_semi_bold_italic {
    font-family: "Open sans semibold italic";
}

.title {
    font-size: 5.0rem;
    color: white;
    /* font-family: "Open sans bold"; */
}

.title_description {
    font-size: 2.5rem;
    color: white;
}

.btn {
    font-size: 3rem;
    text-transform: uppercase;
    font-family: 'Open sans semibold';
    color: white;
    display: inline-block;
    padding: 1.5rem 3rem;
    max-width: 60%;
    text-align: center;
}

.btn-red {
    background-color: #C00D0D;
}

.btn-grey {
    background-color: #3C3C3B;
}

.btn-white {
    color: black;
    background-color: white;
    font-size: 2rem;
    padding: 1rem 2rem;
    border: 3px solid black;
}

.btn-white:hover {
    background-color: #C00D0D;
    color: #fff;
    border: 3px solid #C00D0D;
    transition: .2s;
}

.t4 {
    font-size: 1.6rem;
    color: white;
    text-transform: uppercase;
    font-family: "Open sans semibold";
    display: inline-block;
    margin-bottom: 1.8rem;
}

.t5 {
    font-size: 1.4rem;
    color: white;
    font-family: "Open sans semibold";
    display: inline-block;
    margin-bottom: .5rem;
}
@media only screen and (max-width:1024px) {
    .btn {
        font-size: 2rem;
    }
}

@media only screen and (max-width:860px) {
    .btn {
        max-width: 70%;
        font-size: 1.5rem;
        padding: 1rem 2rem;
    }
}

@media only screen and (max-width:599px) {
    .btn {
        font-size: 1.3rem;
    }
}