
@import url("../fuentes/fuentes.css");

.cabecera{
    position: relative;
    height: 110vh;
    background-image: url("../../avatar/imagenes/slide-one.jpg");
    background-size: 100% auto;
    padding-top: 80px;    
}
.header__menu{
    position: relative;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.header__content-banner{
    height: 800px;
    overflow: hidden;
   
    
}
.header__content-image-1{
    position: relative;
}
.header__banner-leftrow{
    position: absolute;
    top:45%;
    left: 10%;
}

.header__banner-rightrow{
    position: absolute;
    top: 45%;
    right: 8%;
}


.header__nav a{
    color: #2E2E2E !important;
    margin-right: 20px;
    font-family: os-regular;
    font-size: 15px;
}

.header__nav a:hover{
    color:#a71b20 !important;
    font-weight: 800;
}
.header__search{
    border-right: 1px solid black;
}
.header__icons{
 display: inline-block;
 width: 50px;
text-align: center;
}



.header__description-image1{
    position: absolute;
    top: 30%;
    left: 33%;
    color: white;
}
.header__description_title #p1{
    font-size: 80px;
    font-family:os-bold;
}

.header__description_title #p2{
   font-size: 80px;
   font-family: os-regular;
}

.header__description_text{
   
    text-align: center;
}

.header__description_text #p1-text{
 
    font-size: 28px;
    font-family: os-regular;
}
.header__description_text #p2-text{
 
    font-size: 28px;
    font-family: os-bold;
}

.header__flags{
    position: absolute;
    bottom: 1%;
    
    z-index: 5;
    width: 100%;
}
.header__flags div{
    width: 60%;
    height: 3.5rem;
}
.header__flag-plomo{
    background-color:#3C3C3B ;
    margin-bottom: 15px;
    margin-left: auto;
    clip-path: polygon(7% 0 , 100% 0, 100% 100%, 0 100%);

}

.header__flag-red{
    clip-path: polygon(0 0, 100% 0, 93% 100%, 0 100%);
    background-color: #a71b20;
}


.menu-cabecera{
    margin: auto;
  width: 1200px;
}
.cabecera nav{
    color: white;
  
}
.cabecera nav a{
    margin-left: 20px;
    color: white;
    line-height: 50px;
    font-family: 'Open sans semibold';
    font-size: 1.6rem;
}
#mascara{
    position:absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
}

.search_content{
    display: inline-block;
    width: 90px;
    text-align: center;
}




