
@import url("../fuentes/fuentes.css");

.header{
    
}
.header__menu-responsive{
    position:fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    background-color: white;
    height: 100vh;
    z-index: 20;
    padding-left: 38px;
    padding-right: 38px;

    transition: all 0.5s ease;
     -webkit-backface-visibility: hidden;
}
#nav_header-close{
    padding-top: 10px;
    padding-bottom: 15px;
}
.header__menu-responsive nav div{
  display: flex;
  justify-content: space-between;
}  

.header__menu-responsive a{
    color: black;
}

.header__menu-responsive nav div{
    font-family: os-regular;
    font-size: 13px;
    line-height: 60px;
  width: 260px;
    border-bottom: 1.2px solid #999999;
}
.header__menu{
    position: relative;
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.header__content-banner{

    overflow: hidden;
   
    
}
.header__content-banner{
    position: relative;
}
.header__banner-leftrow{
    position: absolute;
    bottom:50%;
    left: 10%;
}

.header__banner-rightrow{
    position: absolute;
    bottom: 50%;
    right: 8%;
}


.header__nav a{
    color: #2E2E2E !important;
    margin-right: 20px;
    font-family: os-regular;
    font-size: 18px;
}

.header__nav a:hover{
    color:#a71b20 !important;
    font-weight: 800;
}
.header__search{
    border-right: 1px solid black;
}
.header__icons{
 display: inline-block;
 width: 50px;
text-align: center;
}
.header__description_title{
    text-align: center;
}


.header__description-image1{
    position: absolute;
    bottom: 50%;
   width: 100%;
   margin: 0 auto;
    color: white;
}
.header__description_title #p1{
    font-size: 80px;
    font-family:os-bold;
}

.header__description_title #p2{
   font-size: 80px;
   font-family: os-regular;
}

.header__description_text{
   
    text-align: center;
}

.header__description_text #p1-text{
 
    font-size: 28px;
    font-family: os-regular;
}
.header__description_text #p2-text{
 
    font-size: 28px;
    font-family: os-bold;
}

.header__flags{

    margin-top: -23%;
    
    width: 100%;
}
.header__flags div{
  
    height: 3.5rem;
}
.header__flag-plomo{
    width: 60%;
    background-color:#3C3C3B ;
    margin-bottom: 15px;
    margin-left: auto;
    clip-path: polygon(7% 0 , 100% 0, 100% 100%, 0 100%);

}

.header__flag-red{
    width: 60%;
    clip-path: polygon(0 0, 100% 0, 93% 100%, 0 100%);
    background-color: #a71b20;
}
.header__barra{
    display: none;
}
.header__menuresponsive-search{
    background-color:#a71b20 ;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 45px;
    text-align: center;
   
}
.header__search-input{
    width: 214px;
}

.header__search-input input{
    display: block;
    width: 214px;
    height: 28px;
}

.header__menuresponsive-inputsearch{
    border: 1px solid black;
    display: flex;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 3px;

    position:absolute;
     bottom: 30px;
   
}
@media only screen and (max-width: 1200px) {
    .header__description_title #p1{
        font-size: 60px;
    }
    
    .header__description_title #p2{
       font-size: 60px;
    }
    .header__description_text #p1-text{
 
        font-size: 22px;
        
    }
    .header__description_text #p2-text{
     
        font-size: 22px;
   
      
    }
    
  }


  @media only screen and (max-width: 768px) {
    .header__description_title #p1{
        font-size: 40px;
    }
    
    .header__description_title #p2{
       font-size: 40px;
    }
    .header__description_text #p1-text{
 
        font-size: 18px;
        
    }
    .header__description_text #p2-text{
     
        font-size: 18px;
      
    }
    
  }



  @media only screen and (max-width: 1400px) {
    .header__nav a{
        display:none;
    }
    .header__barra{
        display: inline-block;
    }
  }



