.posts {
    width: 90%;
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 8rem; */
}

.posts__box {
    width: 100%;
    margin-top: 8rem;
    margin-bottom: 8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.posts__box__container {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.left {
    margin-left: 4%;
    text-align: start;
    justify-content: left;
    align-items: flex-start;
}

.right {
    margin-right: 4%;
    text-align: end;
    justify-content: right;
    align-items: flex-end;
}

.posts__box__container-title {
    font-size: 5rem;
    text-transform: uppercase;
    font-family: 'Open sans semibold';
    color: #C00D0D;
}

.posts__box__container-text {
    font-size: 2.8rem;
    line-height: 3.5rem;
    margin: 2rem 0;
    margin-bottom: 5rem;
}

.posts__box__container-img {
    width: 80%;
    z-index: 2;
    margin-right: auto;
    margin-left: auto;
}

.posts__box__container-img img {
    width: 100%;
}

.red_box {
    background-color: #C00D0D;
    width: 40%;
    height: 40%;
    position: absolute;
    left: 7%;
    bottom: 65%;
}

.grey_box {
    width: 40%;
    height: 40%;
    background-color: #3C3C3B;
    position: absolute;
    right: 7%;
    top: 65%;
}

@media only screen and (max-width:1024px) {
    .posts__box__container-title {
        font-size: 4.2rem;
    }
    .posts__box__container-text {
        margin: 2.5rem 0;
        font-size: 2.4rem;
        line-height: 2.4rem;
    }
}

@media only screen and (max-width:900px) {
    .posts {
        margin-top: 0;
        margin-bottom: 2rem;
    }
    .posts__box {
        margin-bottom: 0;
        margin-top: 3rem;
    }
    .posts__box__container-title {
        font-size: 3rem;
    }
    .posts__box__container-text {
        margin: 2.5rem 0;
        font-size: 1.8rem;
        line-height: 2.4rem;
    }
}

@media only screen and (max-width:599px) {
    .posts__box__container-title {
        font-size: 2.5rem;
    }
    .posts__box__container-text {
        margin: 1.6rem 0;
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

@media only screen and (max-width:426px) {
    .posts__box {
        display: flex;
        flex-wrap: wrap;
        margin-right: auto;
        margin-left: auto;
    }
    .posts__box__container {
        width: 80%;
        margin-bottom: 4rem;
        margin-right: auto;
        margin-left: auto;
    }
    .posts__box__container-title {
        font-size: 2.5rem;
    }
    .posts__box__container-text {
        margin: 1.2rem 0;
        font-size: 1.8rem;
    }
}