.products__box {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}

.products__box__item {
    width: 50%;
    box-sizing: border-box;
    padding: 0 1.5rem;
    padding-bottom: 3rem;
}

.products__box__item__content {
    position: relative;
    background-color: #C00D0D;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
}

.products__box__item__content-p {
    font-size: 3rem;
    display: inline-block;
    margin: 0 20%;
    color: #ffffff;
}

.products__box__item__content-p span {
    font-family: 'Open sans semibold italic';
    font-weight: lighter;
}

.products__box__item img {
    width: 100%;
    object-fit: cover;
    box-sizing: content-box;
}

.products__box__item__description {
    height: 100%;
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    color: #fff;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .7);
    margin: 0;
}

.products__box__item__description:hover {
    opacity: 1;
    transition: .8s;
}

.products__box__item__description p {
    margin: 0 20%;
    line-height: 3.8rem;
}

.products__box__item__description span {
    font-family: 'Open sans semibold italic';
    font-weight: lighter;
}

.icon-container {
    height: 3rem;
    margin-top: 1.5rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, .2);
}

.products__description-icon {
    height: 1.5rem;
    margin-top: .5rem;
    width: 1.5rem;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 1);
}

@media only screen and (max-width:930px) {
    .products__box__item__content-p, .products__box__item__description p {
        font-size: 2.5rem;
        line-height: 2.7rem!important;
    }
}


@media only screen and (max-width:635px) {
    .products__box {
        width: 70%;
    }
    .products__box__item {
        width: 100%;
        min-height: 22rem;
        max-height: 25rem;
        margin-bottom: 3rem;
        padding: 0;
        overflow-y: hidden;
    }
    .products__box {
        overflow-y: hidden;
    }
    .products__box__item {
        min-height: 22rem;
        /* max-height: 25rem; */
    }
}

@media only screen and (max-width:470px) {
    .products__box {
        overflow-y: hidden;
    }
    .products__box__item {
        min-height: 18rem;
        max-height: 18rem;
    }
}
@media only screen and (max-width:380px) {
    .products__box {
        overflow-y: hidden;
    }
    .products__box__item__content-p, .products__box__item__description p {
        font-size: 1.5rem;
        line-height: 1.7rem!important;
    }
    .products__box__item {
        min-height: 15rem;
        max-height: 15rem;
    }
}