.trademarks {
    margin-bottom: 10rem;
    margin-top: 3rem;
    overflow: hidden;
}

.trademarks__title {
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 8rem;
}
.trademarks__row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.trademarks__row__item{
    margin: 0 2%;
    /* height: 8rem; */
    height: 8rem;
    min-height: 8rem;
    max-height: 10rem;
    width: 20%;
}


@media only screen and (max-width:769px){
    .trademarks__row{
        justify-content: space-around;
    }
    .trademarks__row__item{
        width: 40%;
        min-height: 2rem ;
        height: 7rem;
        margin-bottom: 3rem;
    }   
}