.background {
    background-image: url('../../avatar/imagenes/fondo_Mesa\ de\ trabajo\ 1\ copia.png');
    background-size: cover;
    z-index: 0;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.intro {
    text-align: center;
    max-width: 114rem;
    /* margin-top: -5%; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 20rem;
    /* overflow: hidden; */
}

.intro__box {
    margin-top: -6%;
    width: 100%;
    height: 38rem;
    background-color: #C00D0D;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    clip-path: polygon(0 0, 100% 5%, 100% 90%, 0% 100%);
}

.intro__box__title {
    color: #fff;
    font-family: 'Open sans semibold';
    font-size: 8rem;
    display: inline-block;
    width: 100%;
    margin: 0 15%;
    margin-top: 6rem;
}

.intro__box__row {
    width: 90%;
    /* min-width: 100rem; */
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    top: 65%;
    left: 0;
    right: 0;
    transition: all 0.9s ease;
}

.intro__box__row__item {
    width: 400px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: #fff;
    min-height: 22rem;
    margin: 0 2rem;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.intro__box__row__item-content {
    margin: 0 18%;
    font-size: 2.5rem;
    line-height: 3rem;
}

.intro__box__row__item-content span {
    font-family: 'Open sans semibold';
}

.intro__box__row__item-icon {
    height: 8rem;
}

.intro__box__row__item-text span {
    font-family: 'Open sans semibold';
}

.intro__box__row__item-box {
    height: 10rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    display: block;
}

@media only screen and (max-width:1200px) {
    .intro__box {
        height: 20rem;
        width: 100vw;
        margin-left: 0;
        margin-right: 0;
    }
    .intro__box__row__item__image {
        width: 80%;
    }
    .intro__box__title {
        font-size: 4rem;
        margin-right: 10%;
        margin-left: 10%;
    }
    .intro__box__row__item-content {
        font-size: 2rem;
        margin: 0 8%;
        line-height: 2.2rem;
    }
    .intro__box__row__item-icon {
        height: 5rem;
    }
}

@media only screen and (max-width:860px) {
    .container {
        width: 100%;
    }
    .intro__box {
        height: 20rem;
    }
    .intro {
        margin-bottom: 15rem;
    }
    .intro__box__row {
        margin-top: -1rem;
        /* margin-bottom: 100rem; */
    }
   
}

@media only screen and (max-width:715px) {
    .intro {
        margin-bottom: 0;
    }
    .intro__box__row {
        flex-wrap: wrap;
        position: relative;
        margin-right: auto;
        margin-left: auto;
        margin-top: -15rem;
    }
    .intro__box__row__item {
        margin-right: 27.5%;
        margin-left: 27.5%;
        width: 45%;
        min-width: 23rem;
        margin-bottom: 1.5rem;
        font-size: 3rem;
    }
}

@media only screen and (max-width:599px) {
    .intro__box {
        height: 22rem!important;
        max-height: 35rem!important;
    }
    .intro__box__title {
        font-size: 2.8rem!important;
    }
    .intro__box__row {
        margin-top: -11rem;
    }
}

@media only screen and (max-width:425px) {
    .intro__box {
        height: 25rem!important;
        max-height: 35rem!important;
    }
    .intro__box__title {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width:380px) {
    .intro__box__row {
        margin-top: -12rem;
    }
    .intro__box__row__item {
        min-height: 12rem;
        margin-right: 10%;
        margin-left: 10%;
        width: 80%;
        height: 18rem!important;
        /* min-width: 23rem; */
        margin-bottom: 1.5rem;
        font-size: 3rem;
    }
}