.background {
    background-image: url('../../avatar/imagenes/fondo_Mesa\ de\ trabajo\ 1\ copia.png');
    background-size: cover;
    z-index: 0;
    background-position: center;
    /* background-attachment: fixed;
    background-repeat: no-repeat; */

}

.intro {
    text-align: center;
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 12rem;
  
}

.intro__box {
    margin-top: -6%;
    width: 100%;
    height: 38rem;
    background-color: #C00D0D;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    clip-path: polygon(0 0, 100% 5%, 100% 90%, 0% 100%);
}

.intro__box__title {
    color: #fff;
    font-family: 'Open sans semibold';
    font-size: 80px;
    display: inline-block;
    width: 100%;
    margin: 0 15%;
    margin-top: 6rem;
}

.intro__box__container {}

.intro__box__row {
    width: 90%;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    top: 65%;
    left: 0;
    right: 0;
    transition: all 0.9s ease;
}

.intro__box__column {
    margin: 0 1rem;
    width: 100%;
}

.intro__box__row__item {
    width: calc(100%/3);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: #fff;
    height: 22rem;
    margin: 0 2rem;
    box-shadow: 10px 10px 10px 3px rgba(0, 0, 0, 0.1);
}

.intro__box__row__item-content {
    margin: 0 20%;
    font-size: 3rem;
}

.intro__box__row__item-content span {
    font-family: 'Open sans semibold';
}

.intro__box__row__item-icon {
    height: 8rem;
}

.intro__box__row__item-text {
    margin: 0 2%;
    font-size: 3rem;
}

.intro__box__row__item-text span {
    font-family: 'Open sans semibold';
}

.intro__box__row__item-box {
    height: 10rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    display: block;
}