@font-face {
  font-family: "os-bold";
  src: url("OpenSans-Bold.ttf")format('truetype');
}

@font-face {
  font-family: "os-extrabold";
  src: url("OpenSans-ExtraBold.ttf")format('truetype');
}

@font-face {
  font-family: "os-extrabold-italic";
  src: url("OpenSans-ExtraBoldItalic.ttf")format('truetype');
}

@font-face {
  font-family: "os-lightitalic";
  src: url("OpenSans-LightItalic.ttf")format('truetype');
}

@font-face {
  font-family: "os-regular";
  src: url("OpenSans-Regular.ttf")format('truetype');
}
@font-face {
  font-family: "os-semibold";
  src: url("OpenSans-Semibold.ttf")format('truetype');
}

@font-face {
  font-family: "os-semibold-italic";
  src: url("OpenSans-SemiboldItalic.ttf")format('truetype');
}